/nbproject/project.xml
/nbproject/jaxws-build.xml
/nbproject/genfiles.properties
/nbproject/build-impl.xml
/nbproject/jax-ws.xml
/nbproject/private/
/nbproject/project.properties
/build.xml
/catalog.xml
/manifest.mf